DATABASE_URL="file:./dev.db"

SESSION_SECRET=""

INTEGRITY_AUTH_URL="https://ae-api.integrity.com/ae-partner-auth-service/auth/token"
INTEGRITY_API_BASE_URL="https://ae-api.integrity.com/ae-partner-gateway-service"
INTEGRITY_CLIENT_ID=""
INTEGRITY_CLIENT_SECRET=""
INTEGRITY_AGENT_NPN=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI="http://localhost:3000/api/google/callback"

CALENDLY_API_TOKEN=""
